﻿<!DOCTYPE html>
<!-- saved from url=(0066)file:///C:/Users/joesa/Desktop/Aceman/build/demo/email-navbar.html -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title></title>
    <style type="text/css">

        body {
            width: 100%;
            margin: 0;
            padding: 0;
            -webkit-font-smoothing: antialiased;
        }

        media only screen and (max-width: 600px) {
            table [class="table-row"]

        {
            float: none !important;
            width: 98% !important;
            padding-left: 20px !important;
            padding-right: 20px !important;
        }

        table[class="table-row-fixed"] {
            float: none !important;
            width: 98% !important;
        }

        table[class="table-col"], table[class="table-col-border"] {
            float: none !important;
            width: 100% !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
            table-layout: fixed;
        }

        td[class="table-col-td"] {
            width: 100% !important;
        }

        table[class="table-col-border"] + table[class="table-col-border"] {
            padding-top: 12px;
            margin-top: 12px;
            border-top: 1px solid #E8E8E8;
        }

        table[class="table-col"] + table[class="table-col"] {
            margin-top: 15px;
        }

        td[class="table-row-td"] {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        table[class="navbar-row"], td[class="navbar-row-td"] {
            width: 100% !important;
        }

        img {
            max-width: 100% !important;
            display: inline !important;
        }

            img[class="pull-right"] {
                float: right;
                margin-left: 11px;
                max-width: 125px !important;
                padding-bottom: 0 !important;
            }

            img[class="pull-left"] {
                float: left;
                margin-right: 11px;
                max-width: 125px !important;
                padding-bottom: 0 !important;
            }

        table[class="table-space"], table[class="header-row"] {
            float: none !important;
            width: 98% !important;
        }

        td[class="header-row-td"] {
            width: 100% !important;
        }

        }

        media only screen and (max-width: 480px) {
            table [class="table-row"]

        {
            padding-left: 16px !important;
            padding-right: 16px !important;
        }

        }

        media only screen and (max-width: 320px) {
            table [class="table-row"]

        {
            padding-left: 12px !important;
            padding-right: 12px !important;
        }

        }

        media only screen and (max-width: 608px) {
            td [class="table-td-wrap"]

        {
            width: 100% !important;
        }
        }
    </style>
</head>
<body style="font-family: Arial, sans-serif; font-size:13px; color: #444444; min-height: 200px;" bgcolor="#E4E6E9" leftmargin="0" topmargin="0" marginheight="0" marginwidth="0">
    <table width="100%" height="100%" bgcolor="#E4E6E9" cellspacing="0" cellpadding="0" border="0">
        <tbody>
            <tr>
                <td width="100%" align="center" valign="top" bgcolor="#E4E6E9" style="background-color:#E4E6E9; min-height: 200px;">
                    <table style="table-layout: auto; width: 100%; background-color: #438eb9;" width="100%" bgcolor="#438eb9" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td width="100%" align="center" style="width: 100%; background-color: #438eb9;" bgcolor="#438eb9" valign="top">
                                    <table class="table-row-fixed" height="50" width="600" cellspacing="0" cellpadding="0" border="0" style="table-layout: fixed;">
                                        <tbody>
                                            <tr>
                                                <td class="navbar-row-td" valign="middle" height="50" width="600" data-skipstyle="true" align="left">
                                                    <table class="table-row" style="table-layout: auto; padding-right: 16px; padding-left: 16px; width: 600px;" width="600" cellspacing="0" cellpadding="0" border="0">
                                                        <tbody>
                                                            <tr style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px;">
                                                                <td class="table-row-td" style="padding-right: 16px; font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; font-weight: normal; vertical-align: middle;" valign="middle" align="left">
                                                                    <a href="file:///C:/Users/joesa/Desktop/Aceman/build/demo/email-navbar.html#" style="color: #ffffff; text-decoration: none; padding: 10px 0px; font-size: 18px; line-height: 20px; height: auto; background-color: transparent;">
                                                                        Ace Newsletter
                                                                    </a>
                                                                </td>

                                                                <td class="table-row-td" align="right" valign="middle" style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; font-weight: normal; text-align: right; vertical-align: middle;">
                                                                    <a href="file:///C:/Users/joesa/Desktop/Aceman/build/demo/email-navbar.html#" style="color: #ffffff; text-decoration: none; font-size: 15px; background-color: transparent;">
                                                                        About
                                                                    </a>
                                                                    &nbsp;
                                                                    <a href="file:///C:/Users/joesa/Desktop/Aceman/build/demo/email-navbar.html#" style="color: #ffffff; text-decoration: none; font-size: 15px; background-color: transparent;">
                                                                        Contact
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                    <table class="table-space" height="8" style="height: 8px; font-size: 0px; line-height: 0; width: 600px; background-color: #ffffff;" width="600" bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0"><tbody><tr><td class="table-space-td" valign="middle" height="8" style="height: 8px; width: 600px; background-color: #ffffff;" width="600" bgcolor="#FFFFFF" align="left">&nbsp;</td></tr></tbody></table>

                    <table class="table-row-fixed" width="600" bgcolor="#FFFFFF" style="table-layout: fixed; background-color: #ffffff;" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td class="table-row-fixed-td" style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; font-weight: normal; padding-left: 24px; padding-right: 24px;" valign="top" align="left">
                                    <table class="table-col" align="left" width="285" style="padding-right: 18px; table-layout: fixed;" cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td class="table-col-td" width="267" style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; font-weight: normal;" valign="top" align="left">
                                                    <table class="header-row" width="267" cellspacing="0" cellpadding="0" border="0" style="table-layout: fixed;"><tbody><tr><td class="header-row-td" width="267" style="font-size: 28px; margin: 0px; font-family: Arial, sans-serif; font-weight: normal; line-height: 19px; color: #478fca; padding-bottom: 10px; padding-top: 15px;" valign="top" align="left">Hi, Susan Calvin</td></tr></tbody></table>
                                                    <p style="margin: 0px; font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px;">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                                                    </p>
                                                    <p style="margin: 0px; font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px;">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet.
                                                    </p>
                                                    <br>
                                                    <table width="100%" cellspacing="0" cellpadding="0" border="0" style="table-layout: fixed;">
                                                        <tbody>
                                                            <tr>
                                                                <td width="100%" bgcolor="#f5f5f5" style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; font-weight: normal; padding: 9px; border: 1px solid #e3e3e3; background-color: #f5f5f5;" valign="top" align="left">
                                                                    Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae.
                                                                    <a href="file:///C:/Users/joesa/Desktop/Aceman/build/demo/email-navbar.html#" style="color: #428bca; text-decoration: none; background-color: transparent;">Click it!</a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <br>

                                                    <p style="margin: 0px; font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px;">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                                                    </p>
                                                    <p style="margin: 0px; font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px;">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet.
                                                    </p>

                                                    <br>
                                                    <div style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; text-align: center;">
                                                        <a href="file:///C:/Users/joesa/Desktop/Aceman/build/demo/email-navbar.html#" style="color: #ffffff; text-decoration: none; margin: 0px; text-align: center; vertical-align: baseline; border: 5px solid #6fb3e0; padding: 6px 12px; font-size: 15px; line-height: 21px; width: 100%; background-color: #6fb3e0;"> &nbsp; &nbsp; &nbsp; Click Me! &nbsp; &nbsp; &nbsp; </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table-col" align="left" width="267" cellspacing="0" cellpadding="0" border="0" style="table-layout: fixed;">
                                        <tbody>
                                            <tr>
                                                <td class="table-col-td" width="267" style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; font-weight: normal;" valign="top" align="left">
                                                    <table class="table-space" height="6" style="height: 6px; font-size: 0px; line-height: 0; width: 267px; background-color: #ffffff;" width="267" bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0"><tbody><tr><td class="table-space-td" valign="middle" height="6" style="height: 6px; width: 267px; background-color: #ffffff;" width="267" bgcolor="#FFFFFF" align="left">&nbsp;</td></tr></tbody></table>
                                                    <table width="100%" cellspacing="0" cellpadding="0" border="0" style="table-layout: fixed;">
                                                        <tbody>
                                                            <tr>
                                                                <td width="100%" bgcolor="#f5f5f5" style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; font-weight: normal; padding: 19px; border: 1px solid #e3e3e3; background-color: #f5f5f5;" valign="top" align="left">
                                                                    <table class="header-row" width="100%" cellspacing="0" cellpadding="0" border="0" style="table-layout: fixed;"><tbody><tr><td class="header-row-td" width="100%" style="font-family: Arial, sans-serif; font-weight: normal; line-height: 19px; color: #478fca; margin: 0px; font-size: 18px; padding-bottom: 8px; padding-top: 0px;" valign="top" align="left">Header Thing</td></tr></tbody></table>
                                                                    <span style="font-family: Arial, sans-serif; line-height: 19px; color: #777777; font-size: 14px;">Sub-head or something</span>

                                                                    <table class="table-space" height="10" style="height: 10px; font-size: 0px; line-height: 0; width: 100px; background-color: transparent;" width="100" bgcolor="transparent" cellspacing="0" cellpadding="0" border="0"><tbody><tr><td class="table-space-td" valign="middle" height="10" style="height: 10px; width: 100px; background-color: transparent;" width="100" bgcolor="transparent" align="left">&nbsp;</td></tr></tbody></table>
                                                                    <a href="file:///C:/Users/joesa/Desktop/Aceman/build/demo/email-navbar.html#" style="color: #428bca; text-decoration: none; background-color: transparent;">Just a Plain Link</a>
                                                                    <hr data-skipstyle="true" style="border-width: 0px; height: 1px; background-color: #e8e8e8;">
                                                                    <a href="file:///C:/Users/joesa/Desktop/Aceman/build/demo/email-navbar.html#" style="color: #428bca; text-decoration: none; background-color: transparent;">Just a Plain Link</a>
                                                                    <hr data-skipstyle="true" style="border-width: 0px; height: 1px; background-color: #e8e8e8;">
                                                                    <a href="file:///C:/Users/joesa/Desktop/Aceman/build/demo/email-navbar.html#" style="color: #428bca; text-decoration: none; background-color: transparent;">Just a Plain Link</a>
                                                                    <hr data-skipstyle="true" style="border-width: 0px; height: 1px; background-color: #e8e8e8;">
                                                                    <a href="file:///C:/Users/joesa/Desktop/Aceman/build/demo/email-navbar.html#" style="color: #428bca; text-decoration: none; background-color: transparent;">Just a Plain Link</a>
                                                                    <hr data-skipstyle="true" style="border-width: 0px; height: 1px; background-color: #e8e8e8;">
                                                                    <a href="file:///C:/Users/joesa/Desktop/Aceman/build/demo/email-navbar.html#" style="color: #428bca; text-decoration: none; background-color: transparent;">Just a Plain Link</a>
                                                                    <hr data-skipstyle="true" style="border-width: 0px; height: 1px; background-color: #e8e8e8;">
                                                                    <a href="file:///C:/Users/joesa/Desktop/Aceman/build/demo/email-navbar.html#" style="color: #428bca; text-decoration: none; background-color: transparent;">Just a Plain Link</a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <br>
                                                    <table width="100%" cellspacing="0" cellpadding="0" border="0" style="table-layout: fixed;">
                                                        <tbody>
                                                            <tr>
                                                                <td width="100%" bgcolor="#f5f5f5" style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; font-weight: normal; padding: 19px; border: 1px solid #e3e3e3; background-color: #f5f5f5;" valign="top" align="left">
                                                                    <table class="header-row" width="100%" cellspacing="0" cellpadding="0" border="0" style="table-layout: fixed;"><tbody><tr><td class="header-row-td" width="100%" style="font-family: Arial, sans-serif; font-weight: normal; line-height: 19px; color: #478fca; margin: 0px; font-size: 18px; padding-bottom: 8px; padding-top: 0px;" valign="top" align="left">Connect With Us</td></tr></tbody></table>

                                                                    <table class="table-space" height="12" style="height: 12px; font-size: 0px; line-height: 0; width: 100px; background-color: transparent;" width="100" bgcolor="transparent" cellspacing="0" cellpadding="0" border="0"><tbody><tr><td class="table-space-td" valign="middle" height="12" style="height: 12px; width: 100px; background-color: transparent;" width="100" bgcolor="transparent" align="left">&nbsp;</td></tr></tbody></table>
                                                                    <div style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; text-align: center;">
                                                                        <a href="file:///C:/Users/joesa/Desktop/Aceman/build/demo/email-navbar.html#" style="color: #ffffff; text-decoration: none; margin: 0px; text-align: center; vertical-align: baseline; border: 4px solid #428bca; padding: 4px 9px; font-size: 14px; line-height: 19px; background-color: #428bca;"> &nbsp;&nbsp; &nbsp; Facebook &nbsp; &nbsp;&nbsp; </a>
                                                                        <br>
                                                                        <br>
                                                                        <a href="file:///C:/Users/joesa/Desktop/Aceman/build/demo/email-navbar.html#" style="color: #ffffff; text-decoration: none; margin: 0px; text-align: center; vertical-align: baseline; border: 4px solid #6fb3e0; padding: 4px 9px; font-size: 14px; line-height: 19px; background-color: #6fb3e0;"> &nbsp;&nbsp; &nbsp; &nbsp; Twitter &nbsp; &nbsp; &nbsp; &nbsp; </a>
                                                                        <br>
                                                                        <br>
                                                                        <a href="file:///C:/Users/joesa/Desktop/Aceman/build/demo/email-navbar.html#" style="color: #ffffff; text-decoration: none; margin: 0px; text-align: center; vertical-align: baseline; border: 4px solid #d15b47; padding: 4px 9px; font-size: 14px; line-height: 19px; background-color: #d15b47;"> &nbsp; &nbsp; &nbsp; Google + &nbsp; &nbsp; &nbsp; </a>
                                                                    </div>
                                                                    <table class="table-space" height="12" style="height: 12px; font-size: 0px; line-height: 0; width: 100px; background-color: transparent;" width="100" bgcolor="transparent" cellspacing="0" cellpadding="0" border="0"><tbody><tr><td class="table-space-td" valign="middle" height="12" style="height: 12px; width: 100px; background-color: transparent;" width="100" bgcolor="transparent" align="left">&nbsp;</td></tr></tbody></table>
                                                                    <hr data-skipstyle="true" style="border-width: 0px; height: 1px; background-color: #e8e8e8;">

                                                                    <table class="header-row" width="100%" cellspacing="0" cellpadding="0" border="0" style="table-layout: fixed;"><tbody><tr><td class="header-row-td" width="100%" style="font-family: Arial, sans-serif; font-weight: normal; line-height: 19px; color: #478fca; margin: 0px; font-size: 18px; padding-bottom: 8px; padding-top: 10px;" valign="top" align="left">Contact Info</td></tr></tbody></table>
                                                                    Phone: <span style="font-family: Arial, sans-serif; line-height: 19px; color: #31708f; font-size: 13px;">408.341.0600</span>
                                                                    <br>
                                                                    Email: <span style="font-family: Arial, sans-serif; line-height: 19px; color: #31708f; font-size: 13px;">hseldon@trantor.com</span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table-space" height="32" style="height: 32px; font-size: 0px; line-height: 0; width: 600px; background-color: #ffffff;" width="600" bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0"><tbody><tr><td class="table-space-td" valign="middle" height="32" style="height: 32px; width: 600px; padding-left: 18px; padding-right: 18px; background-color: #ffffff;" width="600" bgcolor="#FFFFFF" align="center">&nbsp;<table bgcolor="#E8E8E8" height="0" width="100%" cellspacing="0" cellpadding="0" border="0"><tbody><tr><td bgcolor="#E8E8E8" height="1" width="100%" style="height: 1px; font-size:0;" valign="top" align="left">&nbsp;</td></tr></tbody></table></td></tr></tbody></table>

                    <table class="table-row" width="600" bgcolor="#FFFFFF" style="table-layout: fixed; background-color: #ffffff;" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td class="table-row-td" style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; font-weight: normal; padding-left: 36px; padding-right: 36px;" valign="top" align="left">
                                    <table class="table-col" align="left" width="528" cellspacing="0" cellpadding="0" border="0" style="table-layout: fixed;">
                                        <tbody>
                                            <tr>
                                                <td class="table-col-td" width="528" style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; font-weight: normal;" valign="top" align="left">
                                                    <div style="font-family: Arial, sans-serif; line-height: 19px; color: #777777; font-size: 14px; text-align: center;">© 2014 by Ace Company</div>
                                                    <table class="table-space" height="8" style="height: 8px; font-size: 0px; line-height: 0; width: 528px; background-color: #ffffff;" width="528" bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0"><tbody><tr><td class="table-space-td" valign="middle" height="8" style="height: 8px; width: 528px; background-color: #ffffff;" width="528" bgcolor="#FFFFFF" align="left">&nbsp;</td></tr></tbody></table>
                                                    <div style="font-family: Arial, sans-serif; line-height: 19px; color: #bbbbbb; font-size: 13px; text-align: center;">
                                                        <a href="file:///C:/Users/joesa/Desktop/Aceman/build/demo/email-navbar.html#" style="color: #428bca; text-decoration: none; background-color: transparent;">Terms</a>
                                                        &nbsp;|&nbsp;
                                                        <a href="file:///C:/Users/joesa/Desktop/Aceman/build/demo/email-navbar.html#" style="color: #428bca; text-decoration: none; background-color: transparent;">Privacy</a>
                                                        &nbsp;|&nbsp;
                                                        <a href="file:///C:/Users/joesa/Desktop/Aceman/build/demo/email-navbar.html#" style="color: #428bca; text-decoration: none; background-color: transparent;">Unsubscribe</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table-space" height="14" style="height: 14px; font-size: 0px; line-height: 0; width: 600px; background-color: #ffffff;" width="600" bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0"><tbody><tr><td class="table-space-td" valign="middle" height="14" style="height: 14px; width: 600px; background-color: #ffffff;" width="600" bgcolor="#FFFFFF" align="left">&nbsp;</td></tr></tbody></table>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>