﻿@{
    ViewBag.Title = "Email";
}

<div class="alert alert-block alert-info">
    <button type="button" class="close" data-dismiss="alert">
        <i class="ace-icon fa fa-times"></i>
    </button>
    The following sample email templates are converted using the provided email tool which
    converts normal Bootstrap HTML to email friendly table layout with inline CSS!
</div>

<div class="space-12"></div>

<div class="row">
    <div class="col-xs-3">
        <a href="@Url.Action("EmailConfirmation","MorePages")" class="thumbnail" target="_blank">
            <img class="img-responsive" src="~/Content/images/email1.png" alt="Email Template" />
        </a>
    </div>

    <div class="col-xs-3">
        <a href="@Url.Action("EmailNavbar","MorePages")" class="thumbnail" target="_blank">
            <img class="img-responsive" src="~/Content/images/email2.png" alt="Email Template" />
        </a>
    </div>

    <div class="col-xs-3">
        <a href="@Url.Action("EmailNewsletter","MorePages")" class="thumbnail" target="_blank">
            <img class="img-responsive" src="~/Content/images/email3.png" alt="Email Template" />
        </a>
    </div>

    <div class="col-xs-3">
        <a href="@Url.Action("EmailContrast","MorePages")" class="thumbnail" target="_blank">
            <img class="img-responsive" src="~/Content/images/email4.png" alt="Email Template" />
        </a>
    </div>
</div>
