﻿@{
    ViewBag.Title = "TreeView";
}

<!-- #section:plugins/fuelux.treeview -->
<div class="row">
    <div class="col-sm-6">
        <div class="widget-box widget-color-blue2">
            <div class="widget-header">
                <h4 class="widget-title lighter smaller">Choose Categories</h4>
            </div>

            <div class="widget-body">
                <div class="widget-main padding-8">
                    <ul id="tree1"></ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="widget-box widget-color-green2">
            <div class="widget-header">
                <h4 class="widget-title lighter smaller">Browse Files</h4>
            </div>

            <div class="widget-body">
                <div class="widget-main padding-8">
                    <ul id="tree2"></ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section pageScripts{
    
        <!--[if lte IE 8]>
		  <script src="~/Content/js/excanvas.js"></script>
		<![endif]-->
    <script src="~/Content/js/jquery-ui.custom.js"></script>
    <script src="~/Content/js/jquery.ui.touch-punch.js"></script>
    <script src="~/Content/js/jquery.easypiechart.js"></script>
    <script src="~/Content/js/jquery.sparkline.js"></script>
    <script src="~/Content/js/flot/jquery.flot.js"></script>
    <script src="~/Content/js/flot/jquery.flot.pie.js"></script>
    <script src="~/Content/js/flot/jquery.flot.resize.js"></script>
    }

@section scripts{